<footer class="site-footer h-card">
  <data class="u-url" href="/"></data>

  <div class="wrapper">

    <h2 class="footer-heading">RM.dev Blog</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">Raymond Moul</li>
          <li><a class="u-email" href="mailto:r@rm.dev">r@rm.dev</a></li>
          <li><a target="_blank" href="https://rm.dev/pgp/rm.ics">PGP Public Key</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          <li><a href="https://github.com/rmmoul"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#github"></use></svg> <span class="username">rmmoul</span></a></li>
          <li><a href="https://www.twitter.com/rmmoul"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#twitter"></use></svg> <span class="username">rmmoul</span></a></li>
          <li><a href="/feed.xml"><svg class="svg-icon"><use xlink:href="/assets/minima-social-icons.svg#rss"></use></svg> <span>rss</span></a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>Infrequent technical write ups, disorganized musings, and lessons learned from various projects.</p>
      </div>
    </div>

  </div>

</footer>
